body {
    background-color: #212B5F;
    color: white;
    font-family: Arial, sans-serif
}

.logo{
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

table {
    background-color: #070E3F;
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

td {
    padding: 10px;
    text-align: center;
    border: 2px solid lightblue;
}

input[type="text"], input[type="number"] {
    background-color: #070E3F;
    color: white;
    border: none;
    text-align: center;
    width: 100%;
}